ul,ol {
    list-style-type: none;
}
a {
text-decoration: inherit;
}
button{
    cursor: pointer;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
button{
    cursor: pointer;
}
.list{
    text-decoration: none;
    font-style: normal;
}
.link  :hover,
.link :focus{
    color: var(--ocean);
}


.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
background-color: #4d5ae5;
text-transform: uppercase;
}
.page-logo-colored{
    color: (--navyblue);
}

.page-header-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--navyblue);
}
.page-header-contact{
font-size: 16px;
letter-spacing: 0.32px;
line-height: 1.5;
color: var(--state);
}
.page-header-contact:hover
.page-header-contact:focus{
    color: var(--ocean);
}
.page-header-contact{
    font-size: normal;
}

.hero{
    background-color: var(--navyblue);
}
.main-title{
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--white);
}
.hero-button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--white);
}
.hero-button:hover
.hero-button:focus{
    background: var(--ocean);
}
.section-title{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--navyblue);
}
.benefits-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1,2;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}
.team-profession{
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.32px;
}
.team-list-item{
    background: var(--cloud);
}
.team-name{
    background-color: var(--white);
}
.team-member-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}
.team-profession{
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.32px;
    }

    .footer{
        background-color: var(--navyblue);
    }
    .page-logo-footer{
        color: var(--cloud);
    }
    .text{
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.32px;
    }
    .filter button{
        background-color: var(--cloud);
        font-family: "Roboto",sans-serif;
        border-style: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        color: var(--ocean);
    }
    .filter-button:hover,
    .filter-button:focus{
        background-color: var(--ocean);
        color: var(--white);
    }
    .projekts-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color: var(--navyblue);
    }
    .projekts-tag{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32;
        color: var(--slate);
    }
