ul,ol {
    list-style-type: none;
}
a {
text-decoration: inherit;
}
button{
    cursor: pointer;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
button{
    cursor: pointer;
}
.list{
    text-decoration: none;
    font-style: normal;
}
.link  :hover,
.link :focus{
    color: var(--ocean);
}


logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
background-color: #4d5ae5;
}

